name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write # Upload artifacts and cut releases
  id-token: write # OIDC

jobs:
  publish-docker-images:
    timeout-minutes: 20 # Sometimes build takes a while
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.FARCASTERXYZ_DOCKERHUB_USER }}
          password: ${{ secrets.FARCASTERXYZ_DOCKERHUB_WRITE_PASSWORD }}

      - run: env STACK_VERSION=${{ github.sha }} ./bin/publish-image.sh
        shell: bash

      - if: startsWith(github.ref, 'refs/tags/')
        name: Append version tag to executable
        shell: bash
        run: |
          mkdir -p ./build
          touch ./build/stack
          chmod +x ./build/stack
          echo "${{ github.ref_name }}" | cat bin/exec-stack-via-docker.sh - > ./build/stack

      - if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2.2.2
        with:
          generate_release_notes: true
          make_latest: true
          files: build/stack
